@font-face {
    font-family: RobotoSlab;
    src: url("./RobotoSlab-Regular.ttf");
}

* {
    color: white;
}

body {
    background: #2E2E2E;
    width: 100vw;
}

img {
    margin: 12px;
}

.link-a {
    color: #c8a881;
}

.link-a:hover {
    color: white;
}

.link-a:active {
    color: #c8a881;
}

.link-b {
    color: #C88380;
}

.link-b:hover {
    color: white;
}

.link-b:active {
    color: #C88380;
}

.title {
    font-family: RobotoSlab;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.link-list {
    font-size: 18px;
    margin-bottom: 40px;
}

.list-link {
    padding: 5px;
}

.list-link:hover {
    text-decoration: none;
    color: white;
}